<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toxicant123.mybatis.mapper.CacheMapper">

<!--    <cache/>-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!--    Emp getEmpByEid(@Param("eid") Integer eid);-->
    <select id="getEmpByEid" resultType="emp">
        select *
        from t_emp
        where eid = #{eid}
    </select>

    <!--    void insertEmp(@Param("emp") Emp emp);-->
    <insert id="insertEmp">
        insert into t_emp
        values (null, #{emp.empName}, #{emp.age}, #{emp.sex}, #{emp.email}, null)
    </insert>

</mapper>